[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
treelib = "*"
r2pipe = "*"
prettytable = "*"
tqdm = "*"
click = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.9"
