[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
treelib = "*"
prettytable = "*"
tqdm = "*"
click = "*"
rzpipe = "*"

[dev-packages]
pytest = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
